@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Thin.woff2") format("woff2");
}

@font-face {
    font-family: "Marck";
    src: url("../fonts/MarckScript-Regular.woff2") format("woff2");
}